n8n config/Chatbot architecture.json
{
  "name": "D-talk chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b8815373-32a5-40f4-ab6f-211e338bb8c8",
        "options": {
          "noResponseBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        300,
        0
      ],
      "id": "dd3c7810-8bc0-48d2-8eda-2ba2a337687b",
      "name": "Webhook",
      "webhookId": "b8815373-32a5-40f4-ab6f-211e338bb8c8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant that summarizes the given context and gives back the weburl and who created and when.\n\n\n If no information is available, try to answer as accurately as possible and mention that it is not available on Sharepoint"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        700,
        0
      ],
      "id": "8c6d30d0-9109-4e9d-81a9-c4e59865394d",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "frequencyPenalty": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        320
      ],
      "id": "92f03d3f-c806-4206-94d6-cf8360a2c667",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "gYafL523OfyPkXnm",
          "name": "OpenAi D-talk"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "Company_documents",
        "toolDescription": "It contains all the information of the comapny",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        800,
        240
      ],
      "id": "",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase D-talk"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        820,
        400
      ],
      "id": "5514ad78-1479-42ae-bc9d-7d3d81449298",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "gYafL523OfyPkXnm",
          "name": "OpenAi D-talk"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "58af7a26-9448-4f26-9266-aa8983ad1ae3",
          "mode": "list",
          "cachedResultName": "D-Talk"
        },
        "channelId": {
          "__rl": true,
          "value": "19:1NGzd_MIAymtCb5b1Hzo_JZ3E3L9xWDEcq5e8v_PEJM1@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Sharepoint_Chat",
          "cachedResultUrl": ""
        },
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "",
      "name": "Microsoft Teams",
      "executeOnce": true,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "",
          "name": "Microsoft Teams account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Microsoft Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6b6c71a8-58ff-4c78-822f-c6e6ccc182b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6596ae5d08bb6a9b8b8a68a9bc54de7ff6962f3f7f56cf75006ed3b3f861aa14"
  },
  "id": "e5FRkJ3IJszaVkzg",
  "tags": []
}